.homePage 
    height: 100%

.promptHeader
    font-size: 40px


.paraBox
    width: 40%
   

.promptParagraph
    font-size: 30px
    

.gameButton
    height: 900%
    width: 50%


.btnBox
    height: 100%
    

.boxSquare
    width: 20%
    height: 40vh
    background: #ADD8E6 
    box-shadow: 0 0 10px #ADD8E6, 0 0 40px #ADD8E6, 0 0 80px #ADD8E6

    