.title
    font-size: 40px
    display: flex
    align-items: center
    justify-content: center

.backgroundContainer
    background-color: #212227
    padding: 2%

.square1
    height: 15vw
    width: 15vw
    background-color: #ADD8E6 
    border-radius: 5%

.square2
    height: 15vw
    width: 15vw
    background-color: #ADD8E6 
    border-radius: 5%
    transition: transform 0.2s
.square2:hover
    transform: scale(1.1)
    cursor: pointer

.square3
    height: 15vw
    width: 15vw
    background-color: #ADD8E6 
    border-radius: 5%
    transition: transform 0.2s
.square3:hover
    transform: scale(1.1)
    cursor: pointer

.textContainer
    display: grid
    grid-template-columns: 70% 40%
    background-color: #585f78
    width: 80%

.textHalf
    display: grid
    grid-template-rows: 20% 80% 

.squarehalf 
    display: flex
    align-items: center
    justify-content: center
    margin-right: 20%

.paragraph
    padding-left: 5%
    font-size: 1.5rem

.header
    color: #ADD8E6
    font-size: 2rem
    padding-left: 3%