.textContainer
    display: grid
    grid-template-columns: 70% 40%
    background-color: #585f78
    width: 80%
    border-radius: 20px

.textHalf
    display: grid
    grid-template-rows: 20% 80% 

.squarehalf 
    display: flex
    align-items: center
    justify-content: center
    margin-right: 20%

.paragraph
    padding-left: 5%
    font-size: 1.5rem

.header
    color: #ADD8E6
    font-size: 2rem
    padding-left: 3%

.miniSquares
    background-color: #ADD8E6 
    height: 90%
    width: 90%
    border-radius: 8%