.leaderBoardContainer
    height: 1000px
    width: 80%
    background-color: gray
    display: grid
    grid-template-columns: 20% 50% 1fr
    grid-template-rows: 5% 30% 20% 10% 5% 5% 5% 5% 5% 5% 5%

gri-row-wrapper1
  background-color: skyblue
